{% extends 'base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}
<main role="main">
  <div class="container mb-4">
    {% for dep in object_list %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{dep.nombre}} {{dep.apellido}} </h2>
          <h4 class="mb-4">Direccion: {{dep.direccion}} </h2>
          <div>
            <p>{{dep.descripcion|striptags|safe|truncatechars:"200"}}</p>
            <p><a href="{% url 'contactos:DetalleResponsable' dep.id%}">Leer más</a>
              {% if request.user.is_staff %}
                | <a href="{% url 'contactos:EditarResponsable' dep.id%}">Editar</a>
                | <a href="{% url 'contactos:BorrarResponsable' dep.id%}">Borrar</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="text-center">
      <a href="{% url 'contactos:NuevoResponsable'%}">
          <input type="submit" class="btn btn-primary btn-block" clss="fa fa-home" value="Agregar Nuevo Responsable" />
      </a>
  </div>
</main>
{% endblock %}
